<div id="head-container">
	<div id="current-reservation">
		<% if @reservations.empty? %>
			User has no upcoming reservations.
		<% else %>
			<%= image_tag "http://lorempixum.com/g/300/450/" %><br>
			<%= link_to "current reservation for " + @reservations.last.movie.title, [@user, @reservations.last] %>
		<% end %>
	</div>
	<div id="watch-with-username">
			<h1>
				Watch <br>
				With <br>
				<%= @user.username %>
			</h1>
	</div>	
</div>
<div id="summerize-container">
	<div id="upcoming-movies">
		<h2> Upcoming Movies </h2>
		<ul>
			<% @upcoming_reservations.each do |r| %>
				<li><%= link_to r.movie.title, [@user,r] %> (<%= pluralize r.tickets.count, "ticket" %> ) <%= r.visible_for %></li>
			<% end %>
		</ul>
	</div>
	<div id="history-movies">
		<h2> Movie History</h2>
			<ul>
				<% @recent_reservations.each do |r| %>
					<li><%= link_to r.movie.title, [@user,r] %> (<%= pluralize r.tickets.count, "ticket" %> reserved) <%= r.visible_for %></li>
				<% end %>
			</ul>
	</div>
</div>

