<h1>Edit the reservation <%= link_to @reservation.movie.title, @reservation.movie %></h1>


<%= form_for [@reservation] do |f| %>
	<h2>Tickets:</h2>
	<ol class="fields">
		<%= f.fields_for :tickets do |builder| %>
			<%= render "ticket_fields", :f => builder %>
		<% end %>
		<%= link_to_add_fields("Add Ticket", f, :tickets) %><br />
	</ol>
	<%= f.submit %>
<% end %>
