<h1>Edit the reservation <%= link_to @reservation.movie.title, @reservation.movie %></h1>


<%= form_for [@reservation] do |f| %>
	<h2>Tickets:</h2>
	<ol>
		<%= f.fields_for :tickets do |builder| %>
			<li>
				Ticket |
				<%= builder.collection_select(:participant_id, User.all, :id, :username, :include_blank => true) %><br>
			</li>
		<% end %>
	</ol>
	<%= f.submit %>
<% end %>
