<h1>My Reservations</h1>

<div id="new-reservation">
	<h3><%= link_to "New Reservation", new_reservation_path %>
</div>

<h2>My participated reservations</h2>
<ul>
	<% @participated_reservations.each do |r| %>
		<li><%= link_to r.movie.title, [current_user,r] %> (<%= pluralize r.tickets.count, "ticket" %> reserved)
		</li>
	<% end %>
</ul>
<h2>My organized reservations</h2>
<ul>
	<% @organized_reservations.each do |r| %>
		<li><%= link_to r.movie.title, [current_user,r] %> (<%= pluralize r.tickets.count, "ticket" %> reserved)
		</li>
	<% end %>
</ul>