<h2>Add new reservation</h2>
<%= form_for @reservation do |f| %>
	<div class="field">
		<%= f.label :movie %><br>
		<%= f.collection_select(:movie_id, Movie.all, :id, :title) %>
  </div>
	<div class="field">
		<%= f.label :reserved_at %><br>
		<%= f.datetime_select :reserved_at , :discard_year => true, :minute_step => 5%>
	</div>
	<div class="field">
		<%= f.label :meeting_at%><br>
		<%= f.time_select :meeting_at, :discard_year => true, :minute_step => 5%><br>
	</div>
	<div class="field">
		<%= f.label :tickets %><br>
		<%= select_tag(:ticket_count, options_for_select(%w{ 1 2 3 4 5 6 7 8 9 10 },6)) %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
