<<<<<<< HEAD
<div id="reservation-details">
	<div id="movie_image" class="grid_3">
		<%= image_tag "http://lorempixum.com/g/214/317/" %>
	</div>
	<div id="description" class="grid_6 prefix_1">
		<p>
			Watch<br>
			<span class="infos" id="movie-title"><%= @reservation.title %></span><br>
			with <span class="infos"><%= @organizer.username %></span>
			<% if @organizer == current_user %>
				(<%= link_to "edit", edit_reservation_path %>) 
			<% end %>
		</p>
		<p>
			on <span class="infos"><%= @reservation.reserved_at.strftime '%A, %b %e, %Y - %H:%M' %></span>
		</p>
		<p>
			at <span class="infos">Cinema </span>
		</p>		
	</div>
</div>
<div class="clearfix"></div>
<div id="tickets">
	<h2 class="grid_4">Tickets:</h2>
	<ul class="ticket-list grid_6">
		<% for ticket in @reservation.tickets.reserved %>
			<li id="reserved">
				<% if ticket.participant %>
					<span class="username grid_2">
						<%= link_to ticket.participant.username, ticket.participant %> 
					</span>
					
					<% if current_user == ticket.participant %>
						<span id="delete-ticket-button"><%= link_to "delete me", ticket, :method => :delete %></span>
					<% end %>
				<% end %>
			</li>
		<% end %>
		<% unless @reservation.tickets.free.empty? %>
			<li id="free">
				<span class="username grid_2">
					-- ??? --
				</span>
				<span id="create-ticket-button">
					<%= link_to "count me in", tickets_path(:ticket_id => @reservation.tickets.free.first), :action => "create", :controller => "tickets", :method => :post %>
				</span>
				<span id="batch">
					<%= @reservation.tickets.free.count %> left
				</span>
			</li>
		<% end %>
	</ul>
</div>
=======
<h1>Reservations for <%= @reservation.title %></h1>
organized by <%= link_to @organizer.username, @organizer %>
<div id="reservation-details">
	<%= image_tag "http://lorempixum.com/g/300/450/" %>
		<p>
			<strong>Movie title:</strong> <%= @reservation.title %>
		</p>
		<p>
			<strong>Screening date:</strong> <%= @reservation.reserved_at.strftime '%d.%m.%Y' %> (in <%= distance_of_time_in_words_to_now(@reservation.reserved_at) %>)
		</p>
		<p>
			<strong>Screening time:</strong> <%= @reservation.reserved_at.strftime '%H:%M' %>
		</p>
		<p>
			<strong>Visible for: </strong> <%= @reservation.visible_for   %>
</div>

<div id="tickets">
	<h2>Tickets</h2>
	<ol>
		<% for ticket in @reservation.tickets %>
			<li>
				<div id="Ticket">
					Ticket | 
					<% if ticket.participant %>
						<%= link_to ticket.participant.username, ticket.participant %> 
						<% if current_user == ticket.participant %>
							(<%= link_to "cancel", ticket, :method => :delete %>)
						<% end %>
					<% else %>
						not reserved
						(<%= link_to "reserve", tickets_path(:ticket_id => ticket), :action => "create", :controller => "tickets", :method => :post %>)
					<% end %>
				</div>
			</li>
		<% end %>
	</ol>
</div>

<% if @organizer == current_user %>
	<%= link_to "Edit", edit_reservation_path %> |
	
<% end %>
>>>>>>> OmniAuth
