<div id="headline" class="grid_10">
	<h1>WatchWithMe</h1>
	<h2>Manage Movie Reservations with Your Friends</h2>
</div>
<div id="about" class="grid_6">
	<section id="about">
		<h2>What is WatchWithMe</h2>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
	</section>
</div>
<div id="sign up" class="grid_4">
	<% if user_signed_in? %>
		<h2>Coming next for you</h2>
		<%= current_user.username %>
	<% else %>
		<h2>Sign Up</h2>
		<p>an account to create & manage your reservations</p>
		<div id="sign_up">
			<%= link_to "Sign up", new_user_registration_path %>
		</div>
		<div id="Sign in">
			<%= link_to "Sign in", new_user_session_path %>
		</div>
		<p>or use facebook</p>
	<% end %>
</div>
<div id="recently" class="grid_10">
	<h2>Recently Watched With Someone</h2>
	<ul id="recently-list">
		<% for reservation in Reservation.visible.order(:reserved_at)[-5..-1] %>
			<li> ☆ <%= link_to reservation.title, [reservation.organizer , reservation] %> @ Cinecare Aachen « <%= link_to reservation.organizer.username, reservation.organizer %></li>
		<% end %>
	</ul>
</div>
