<!DOCTYPE html>
<html>
<head>
  <title>WatchWithMe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="user-header">
		<% if user_signed_in? %>
			You are signed in as <%= current_user.name  %>
		<% else %>
			You are not signed in. To change stuff pleas sign in <%= link_to 'here', new_user_session_path %>
		<% end %>
	</div>


<%= yield %>

</body>
</html>
